html,body{
	padding: 0;
	margin: 0;
}
/*header*/
.out-header{
	width: 100%;
	height: 50%;
	padding: 15% 0;
	text-align: center;
	background-image: url("../img/bg.jpg");
}
.in-header{
	display: inline-block;
	color: white;
}

/*add block*/
#out-addblock{
	display: none;
}
/*info*/

.info{
	width: 100%;
	text-align: center;
}
.user-info{
	display: inline-block;
}
.user-info ul {

}
.user-info ul li{
	list-style: none;
}

/*current block*/

.out-current-block{
	width: 100%;
	margin:0 auto;
}
.in-current-block{
margin-left: 20%;
}
.current-block-h3{

}
.current-block-ul{
	width: 70%;
}
.current-block-ul ul{
	list-style: none;
}

/*end current block*/

/*post list*/
.out-list{

}
.in-list {
word-wrap:break-word;
margin-left: 20%;
}

#post-list {
width: 60%;
list-style: none;
flex-direction: column;
}
.each-post{
	border: 1px solid rgba(204,204,204,50%);
	border-left: 4px solid rgba(000,102,153,30%);
	margin: 2% 0;
	padding: 5% 5%;
	background: rgba(204,204,204,20%);
}
.post-address{
	font-size: 0.7em;
	text-align: right;
}
.post-title{
	font: bold;
}
.post-commend{
	margin-top: 3%;
}
/*end post list*/