html,body{
	padding: 0;
	margin: 0;
}
/*header*/
.out-header{
	width: 100%;
	height: 50%;
	padding-top: 15%;
	/*padding-bottom: 3%;*/
	/*padding: 15% 0;*/
	text-align: center;
	background-image: url("../img/bg.jpg");
}
.in-header{
	display: inline-block;
	color: white;

}
.bottom-header{
padding-top: 2%;
padding-right: 5%;
margin-top: 5%;
background-color: rgba(0,0,0,50%);
}

/*add block*/

/**/

#new_commend {
	width: 70%;
	overflow:hidden;
	font-size:0.9em;
	font-family:Courier, monospace;
	font-weight:normal;
	resize:none;
	line-height:40px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: rgba(204,204,204,30%);
	background-image:url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png), url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
}
#new_title {
	background-color:transparent;
	border-bottom:3px solid black;
	margin-bottom:20px;
	color:black;
	font-size:20px;
	font-family:Courier, monospace;
	height:28px;
	font-weight:bold;
	width:220px;
}
#button {
	float:right;
	height:40px;
	padding-left:24px;
	padding-right:24px;
	font-weight:bold;
	font-size:20px;
	color:#FFF;
	-webkit-border-radius:8px;
	border-top:1px solid #FFF;
	background-color: #62add6;
	background-repeat:repeat-x;
}
#button:active {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
#button:focus {
	zoom: 1;
	filter: alpha(opacity=80);
	opacity: 0.8;
}
#wrapper {
	display: none;
	width:700px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	margin-top:24px;
	margin-bottom:100px;
}
.user-info-address{
	color: white;
	text-align: right;
}
.user-info ul li{
	list-style: none;
}
 .address-link{
 	font-size: 0.7em;
 }
 .address-link:link { color: white; text-decoration: none;}
 .address-link:visited { color: white; text-decoration: none;}
 .address-link:hover { color: white; text-decoration: none;}

/**/
/*current block*/

.out-current-block{
	width: 100%;
	margin:0 auto;
}
.in-current-block{
margin-left: 25%;
}
.current-block-h3{

}
.current-block-ul{
	width: 60%;
	border: 1px solid rgba(204,204,204,50%);
	border-left: 4px solid rgba(153,204,000,30%);
	margin: 2% 0;
	padding-right: 5%;
	background: rgba(204,204,204,20%);
}
.current-block-ul ul{
	list-style: none;
}
#last-block{
	font-size: 0.7em;
	text-align: letf;
}
#Epost-name{
	font-size: 0.7em;
	text-align: right;
}

/*end current block*/

/*post list*/
.out-list{

}
.in-list {
word-wrap:break-word;
margin-left: 30%;
}

#post-list {
width: 60%;
list-style: none;
flex-direction: column;
}
.each-post{
	border: 1px solid rgba(204,204,204,50%);
	border-left: 4px solid rgba(000,102,153,30%);
	margin: 2% 0;
	padding: 5% 5%;
	background: rgba(204,204,204,20%);
}
.post-address{
	font-size: 0.7em;
	text-align: right;
}
.post-title{
	font: bold;
}
.post-commend{
	margin-top: 3%;
}
/*end post list*/

* {
  outline:none;
	border:none;
	margin:0px;
	padding:0px;
	font-family:Courier, monospace;
}